.section-education {
  max-width: 1400px;
  margin: 0 auto;
  background: url(../image/circle-bg.jpg) no-repeat 50% 90%; }
  .section-education .container-education {
    max-width: 100%;
    border-radius: 0 0 40px 40px;
    background: #FFF; }
    .section-education .container-education .education {
      padding: 0 74px; }
      @media (max-width: 1200px) {
        .section-education .container-education .education {
          padding: 0; } }
      .section-education .container-education .education-title {
        margin-bottom: 18px; }
      .section-education .container-education .education-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 70px; }
        @media (max-width: 767px) {
          .section-education .container-education .education-content {
            margin-bottom: 40px; } }
        @media (max-width: 375px) {
          .section-education .container-education .education-content {
            margin-bottom: 40px; } }
        .section-education .container-education .education-content .education-card {
          max-width: 270px;
          background: #EAF2F5;
          border-radius: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          margin: 14px;
          padding: 50px 35px 31px 35px; }
          @media (max-width: 767px) {
            .section-education .container-education .education-content .education-card {
              width: calc(50% - 20px);
              align-items: space-between;
              padding: 20px 10px;
              margin: 5px; } }
          @media (max-width: 375px) {
            .section-education .container-education .education-content .education-card {
              width: 100%; } }
          .section-education .container-education .education-content .education-card .addPadding {
            padding: 0 15px; }
          .section-education .container-education .education-content .education-card--icon {
            margin-bottom: 20px; }
          .section-education .container-education .education-content .education-card--title {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.1; }
          .section-education .container-education .education-content .education-card--text {
            font-size: 13px;
            line-height: 1.1;
            padding: 10px 0; }
        @media (max-width: 767px) {
          .section-education .container-education .education-content .education-card:last-child {
            flex-direction: row;
            align-items: center;
            flex-grow: 1;
            padding: 20px;
            max-width: calc(100% - 30px);
            text-align: left; }
            .section-education .container-education .education-content .education-card:last-child .education-card--icon {
              margin: 0 20px 0 0; } }
        @media (max-width: 375px) {
          .section-education .container-education .education-content .education-card:last-child {
            max-width: 270px;
            flex-direction: column;
            align-items: space-between;
            text-align: center;
            padding: 20px 10px;
            margin: 5px; }
            .section-education .container-education .education-content .education-card:last-child .education-card--icon {
              margin: 0 0 20px 0; } }
  .section-education .container-info {
    max-width: 100%; }
    .section-education .container-info .info {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .section-education .container-info .info-title {
        margin: 60px 0 25px; }
      .section-education .container-info .info-text {
        max-width: 650px;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 30px; }
        @media (max-width: 991px) {
          .section-education .container-info .info-text {
            font-size: 14px; } }
      .section-education .container-info .info-video {
        width: 763px;
        height: 443px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #FFF;
        background: url(../image/video.png) no-repeat 50% 50%;
        background-size: 100%; }
        @media (max-width: 992px) {
          .section-education .container-info .info-video {
            width: 90%; } }
        @media (max-width: 767px) {
          .section-education .container-info .info-video {
            width: 100%;
            height: 410px; } }
        @media (max-width: 540px) {
          .section-education .container-info .info-video {
            height: 300px; } }
        @media (max-width: 375px) {
          .section-education .container-info .info-video {
            height: 210px;
            justify-content: flex-end; } }
        @media (max-width: 767px) {
          .section-education .container-info .info-video .round-button {
            height: 70%; } }
        @media (max-width: 375px) {
          .section-education .container-info .info-video .round-button {
            height: 60%; } }
        @media (max-width: 767px) {
          .section-education .container-info .info-video p {
            margin-top: -30px; } }
        @media (max-width: 375px) {
          .section-education .container-info .info-video p {
            margin-top: -45px;
            margin-bottom: 65px; } }
      .section-education .container-info .info-items {
        display: flex;
        margin: 30px 108px;
        border-radius: 40px;
        background: #FFFFFF;
        box-shadow: 0px 81px 120px -77px rgba(34, 37, 59, 0.04); }
        @media (max-width: 1199px) {
          .section-education .container-info .info-items {
            margin: 30px 60px; } }
        @media (max-width: 1199px) {
          .section-education .container-info .info-items {
            margin: 30px 30px; } }
        @media (max-width: 767px) {
          .section-education .container-info .info-items {
            margin: 30px 10px; } }
        @media (max-width: 540px) {
          .section-education .container-info .info-items {
            flex-direction: column; } }
        .section-education .container-info .info-items .info-item {
          width: 33.333%;
          padding: 0 50px;
          margin: 50px 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-right: 1px solid #EAF2F5; }
          @media (max-width: 1199px) {
            .section-education .container-info .info-items .info-item {
              padding: 20px;
              margin: 30px 0; } }
          @media (max-width: 767px) {
            .section-education .container-info .info-items .info-item {
              padding: 0 15px;
              margin: 20px 0; } }
          @media (max-width: 540px) {
            .section-education .container-info .info-items .info-item {
              width: 100%; } }
          .section-education .container-info .info-items .info-item--number {
            font-weight: 700;
            font-size: 77px;
            line-height: 1;
            color: #38BFF2; }
          .section-education .container-info .info-items .info-item--title {
            font-weight: 600;
            font-size: 24px;
            line-height: 1.2;
            padding: 20px 0; }
            @media (max-width: 991px) {
              .section-education .container-info .info-items .info-item--title {
                font-size: 18px; } }
          .section-education .container-info .info-items .info-item--text {
            font-size: 16px;
            line-height: 1.4; }
            @media (max-width: 991px) {
              .section-education .container-info .info-items .info-item--text {
                font-size: 14px; } }
        .section-education .container-info .info-items .info-item:last-child {
          border-right: none; }
      .section-education .container-info .info-begin {
        display: flex;
        align-items: center;
        padding: 12px 15px;
        margin-bottom: 60px;
        background: #FFF;
        border-radius: 110px; }
        @media (max-width: 991px) {
          .section-education .container-info .info-begin {
            border: 1px solid #f0f0f0; } }
        @media (max-width: 767px) {
          .section-education .container-info .info-begin {
            flex-direction: column;
            border-radius: 30px;
            padding: 12px 25px; } }
        .section-education .container-info .info-begin-text {
          max-width: 215px;
          margin: 0 0 0 25px;
          font-weight: 600;
          font-size: 15px; }
          @media (max-width: 767px) {
            .section-education .container-info .info-begin-text {
              margin: 12px 0 0 0;
              font-size: 13px;
              text-align: center; } }

/*# sourceMappingURL=education.css.map */
